<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="OrchardCore.Logging.NLog" />
  </extensions>

  <variable name="logDirectory" value="${basedir}/App_Data/logs" />

  <targets>
    <!-- 文件输出 -->
    <target xsi:type="File" name="file"
            fileName="${logDirectory}/orchard-${shortdate}.log"
            archiveFileName="${logDirectory}/archives/orchard-${shortdate}.{###}.log"
            archiveAboveSize="10485760"
            archiveEvery="Day"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="true"
            createDirs="true"
            layout="${longdate}|${orchard-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

    <!-- 控制台输出（NLog 5.x 语法） -->
    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${orchard-tenant-name}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace}">
      
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn"  foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info"  foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console" />
    <logger name="Microsoft.AspNetCore" minlevel="Warning" writeTo="file,console" />
    <logger name="OrchardCore.Environment.Shell" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>