@model AmazData.Module.Mqtt.Models.MqttBrokerButtonsViewModel
@{
    if (Model.ContentItem == null)
    {
        return;
    }
}
<a asp-area="AmazData.Module.Mqtt" asp-controller="Subscription" asp-action="Subscribe" asp-route-topicId="@Model.ContentItem.ContentItemId" class="btn btn-sm btn-primary">订阅</a>
